<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LiftCore.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiftCore.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <LiftCore.My.MySettings>
            <setting name="cnAS400" serializeAs="String">
                <value>Provider=IBMDA400.DataSource.1;Data Source=100.100.100.1;Persist Security Info=True;User ID=QSECOFR;PASSWORD=SECOFR;Initial Catalog=S78893C0</value>
            </setting>
            <setting name="urlWSImpianti" serializeAs="String">
                <value>https://localhost:44323/api/impianti/ImpiantiListParms/GetImpianti2List</value>
            </setting>
            <setting name="urlWS" serializeAs="String">
                <value>http://localhost:44322/</value>
            </setting>
            <setting name="LiftCore_srvedoc_Images" serializeAs="String">
                <value>http://srvedoc/images.asmx</value>
            </setting>
            <setting name="LiftCore_EdocService_Service" serializeAs="String">
                <value>http://srvedoc/Service.asmx</value>
            </setting>
            <setting name="urlWSVisirun" serializeAs="String">
                <value>http://www.visirun.com/public/Server.php</value>
            </setting>
        </LiftCore.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.visirun.com/public/Server.php"
                binding="basicHttpBinding" bindingConfiguration="Binding"
                contract="ws_visirun.Port" name="Port" />
        </client>
    </system.serviceModel>
    <userSettings>
        <LiftCore.My.MySettings>
            <setting name="LibLift" serializeAs="String">
                <value>LIFT_NET</value>
            </setting>
        </LiftCore.My.MySettings>
    </userSettings>
</configuration>
